/* basic root and body values*/
:root{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* The styling goes here */
.bg-cover{
  background-size: cover;
}

.bg-green {
  background-color: rgb(26, 95, 26);
}

.bg-white-cust {
  background-color: rgba(255, 255, 255, 0.6);
}

.hero-img{
  background-image: url(full_forest.jpg);
  background-position: center;
}

/* NOTE My change when small screen */
@media only screen and (max-width: 767px) {
  #message-window {
    height: 120px;
    width:200px;
  }
  #stnd-field {
    width:200px;
  }
  #ext-field {
    width: 191px;
  }
}

#form-summary-img{
  background-image: url(deforest.jpg);
  background-size: cover;
  background-position: center;
  border-left: 0.75vw solid green;
  max-height: 15vh;
}

.green-border{
  border-left: 4px green;
}


#lumber-info {
  margin-right: 40px;
}

.spill {
  bottom: -5vh;
}

.object-fit-contain {
  object-fit: cover;
}


.text-shadow{
  text-shadow: 1px 1px 3px black;
}

.text-orng-red{
  color: orangered;
}

.text-green{
  color:green;
}

/* NOTE custom font CSS */
.custom-text {
  font-family: 'Staatliches', cursive;
}

.bg-light-grey{
  background-color: rgb(236, 236, 236);
}

