/* Debug for body + basic root and body values*/
body.debug .container,
body.debug .container-fluid {
  outline: 2px double blue;
  outline-offset: -2px;
}

body.debug .row {
  outline: 2px dashed red;
  outline-offset: -2px;
}

body.debug [class*="col-"] {
  outline: 2px dotted forestgreen;
  outline-offset: -3px;
}

:root{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* The styling goes here */
.bg-cover{
  background-size: cover;
}

.bg-green {
  background-color: rgb(26, 95, 26);
}

.bg-grey {
  background-color: rgb(30, 32, 70);
}

.height-40vh{
  height: 40vh;
}

.height-70vh{
  height: 70vh;
}

.hero-img{
  background-image: url();
}

#form-summary-img{
  background-image: url("deforest.jpg");
  background-size: cover;
  background-position: center;
  max-height: 15vh;
}
.green-border{
  border-left: 4px green;
}


#lumber-info {
  margin-right: 40px;
}

.height-25vh{
  height: 25vh;
}

.height-30vh{
  height: 30vh;
}

.spill {
  bottom: -5vh;
}

.height-21vh{
  height: 21vh;
}

.object-fit-contain {
  object-fit: cover;
}


.text-shadow{
  text-shadow: 1px 1px 4px black;
}

.text-green{
  color:green;
}

.bg-light-grey{
  background-color: rgb(236, 236, 236);
}

